{% extends 'IluniBookBundle:Common:layout/crud.html.twig' %}

{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% import 'IluniBookBundle:Common:macro/tab.html.twig' as tab %}
{% set map = entity.AlumniOrgMap %}

{% block title %}Job Address :: Show{% endblock %}

{% block body %}
    {{ tab.tab('map', {
        'mid' : map.id,
        'aid' : map.alumni.id,
        'oid' : map.organization.id
    }) }}

<div class="sheet_admin">

{% include 'IluniBookBundle:Common:show/address.html.twig' with {
    'masterfields' : { 'Alumni': map.alumni, 'Organization': map.organization }
} %}

<hr />
{{ crud.link_to__edit('workplace_edit', { 'id': entity.id }) }}
&nbsp;
{{ crud.link_to__list('workplace_list', { 'mid': map.id }) }}

</div>

{% endblock %}
