{% extends 'IluniBookBundle:Common:layout/standard.html.twig' %}

{% import 'IluniBookBundle:Common:macro/crud.html.twig' as crud %}
{% import 'IluniBookBundle:Common:macro/tab.html.twig' as tab %}

{% block title %}Personal Contact :: Show{% endblock %}

{% block body %}
    {{ tab.tab('alumni', {
        'aid' : entity.alumni.id
    }) }}

<div class="sheet_admin">

{% include 'IluniBookBundle:Common:show/contact.html.twig' with {
    'masterfields' : { 'Alumni': entity.alumni }
} %}

<hr />
{{ crud.link_to__edit('acontacts_edit', { 'id': entity.id }) }}
&nbsp;
{{ crud.link_to__list('acontacts_list', { 'aid': entity.alumni.id }) }}

</div>

{% endblock %}
