.componentheading {
    background-image : url(../../images/marbles/lime-spiral.png);
}
.componentheading:hover {
    background-image : url(../../images/marbles/blue-spiral.png);
}
.contentheading {
    background-image : url(../../images/marbles/lime-star-in.png);
}
.contentheading:hover {
    background-image : url(../../images/marbles/blue-star-out.png);
}
