.componentheading {
    background-image : url(../../images/marbles/orange-spiral.png);
}
.componentheading:hover {
    background-image : url(../../images/marbles/orange-tick.png);
}
.contentheading {
    background-image : url(../../images/marbles/orange-star-in.png);
}
.contentheading:hover {
    background-image : url(../../images/marbles/orange-star-out.png);
}
