.componentheading {
    background-image : url(../../images/marbles/red-spiral.png);
}
.componentheading:hover {
    background-image : url(../../images/marbles/red-tick.png);
}
.contentheading {
    background-image : url(../../images/marbles/red-star-in.png);
}
.contentheading:hover {
    background-image : url(../../images/marbles/red-star-out.png);
}
