{% macro item(caption, mod, route) %}
    <ul class="menu"><li{% if route==mod %} class="selected"{% endif %}>
        <a href="{{ path(mod) }}">{{ caption|trans({},'navigation') }}</a>
    </li></ul>
{% endmacro %}
