{% macro tab(kind, hash) %}
    {% set tabs = tab_use(kind) %}

    {% set mroute = app.request.attributes.get('_route') %}
    {% set module = mroute | replace({'_show' : ''}) | replace({'_list' : ''}) %}

    <div class="menu_tabs" title="Related Attributes">
    <ul>
      {% for key, tab in tabs %}
        {% set vars = tab_extract(tab, hash) %}
        <li{% if module == key %} class="selected"{% endif %}>
            <a href="{{ vars.url }}">{{ vars.caption|trans({},'navigation') }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro tab_unused() %}
    {#
    <div class="menu_tabs" title="Related Attributes">
    <ul>
      {% for key, tab in tabs %}
        {% set hash_id, var_name, caption, route = tab[0], tab[1], tab[2], tab[3] %}
        <li{% if module == key %} class="selected"{% endif %}>
            <a href="{{ path(route, { (hash_id) : attribute(_context, var_name) }) }}">{{ caption|trans }}</a>
        </li>
    #}
{% endmacro %}
