{% macro tab(kind, hash) %}
    {% set tabs = tab_use(kind) %}

    {% set mroute = app.request.attributes.get('_route') %}
    {% set module = mroute | replace({'_show' : ''}) | replace({'_list' : ''}) %}

    <div class="menu_tabs" title="Related Attributes">
    <ul>
      {% for key, tab in tabs %}
        {% set vars = tab_extract(tab, hash) %}
        <li{% if module == key %} class="selected"{% endif %}>
            <a href="{{ vars.url }}" class="ajax">{{
                vars.caption|trans({},'navigation')
            }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
{% endmacro %}
