{% extends 'IluniBookBundle:Common:layout/standard.html.twig' %}

{% block title %}Login{% endblock %}

{% block top_logon %}
{% endblock %}

{% block body %}
    {% if error %}
    <div id="system-message">
        <div class="flash_notice">{{ error.message|trans }}</div>
    </div>
    {% endif %}

    <br/>
    <b>Demo login:</b>

    <p>
        Choose one of three default users:
        <ul>
            <li><em>guest/guest</em> <small>(ROLE_GUEST)</small> or</li>
            <li><em>editor/editor</em> <small>(ROLE_EDITOR)</small> or</li>
            <li><em>admin/admin</em> <small>(ROLE_ADMIN)</small></li>
        </ul>
    </p>

    <script type="text/javascript">
        window.addEvent("domready",function(){
            new Form.Validator.Inline('login');
        });
    </script>

    <form action="{{ path("user_check") }}" method="post" id="login">
        <div>
            <label for="username">{% trans %}Username{% endtrans %}</label>
            <input type="text" id="username" name="_username"
                class="required validate-nospace validate-alphanum minLength:4 maxLength:10"
                maxlength="10"/>
        </div>

        <div>
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input type="password" id="password" name="_password"
                class="required validate-nospace  minLength:4 maxLength:30"
                value="{{ last_username }}" />
        </div>

        <button type="submit">login</button>
    </form>
{% endblock %}
